[submodule "PlayingVideoJP"]
	path = PlayingVideoJP
	url = git@github.com:successanil/PlayingVideoJP.git
[submodule "KotlinLoginJPC"]
	path = KotlinLoginJPC
	url = git@github.com:successanil/KotlinLoginJPC.git
[submodule "ComposeLogin"]
	path = ComposeLogin
	url = git@github.com:successanil/ComposeLogin.git
[submodule "KotlinHiltDemo"]
	path = KotlinHiltDemo
	url = git@github.com:successanil/KotlinHiltDemo.git
